@import '@/assets/utils/_Variables';
@import '@/assets/utils/_Mixins';

.button {
  font-weight: $fw-700;
  border: none;
  border-radius: 5px;
}

.default {
  width: 100%;
  padding: 16px 0;
  font-size: $fs-20;
}

.medium {
  width: 223px;
  padding: 10px 0;
  font-size: $fs-16;
}

.large {
  width: 372px;
}

.orange {
  background-color: $color-orange-1;
  @include hover(background-color, $color-orange-2);
}

.white {
  background-color: $color-white;
  @include hover(background-color, $color-grey);
}
