@import '@/assets/utils/_Mixins';
@import '@/assets/utils/_Variables';

.nav {
  @include flex-center;
}

.navList {
  display: flex;
  position: relative;
}

.loginLink {
  @include flex-center;
  width: 129px;
  background-color: $color-orange;
  font-weight: $fw-600;
  border: none;
  border-radius: 5px;
}

.navLink {
  @include flex-center;
  height: 50px;
  margin-right: 42px;
  cursor: pointer;
}

.svgIcon {
  margin-left: 6px;
}
