@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin pseudo-element($bgColor,
  $right: auto,
  $left: 0,
  $top: 50%,
  $bottom: auto,
  $transformY: 50%,
  $transformX: 0,
  $height: 1px,
  $width: 24px) {
  content: '';
  position: absolute;
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
  transform: translate($transformX, $transformY);
  height: $height;
  width: $width;
  background-color: $bgColor;
}

@mixin hover($_property, $_toValue) {
  transition: #{$_property} $transition-time;

  &:hover {
    #{$_property}: $_toValue;
  }
}
