@import '@/assets/utils/_Variables';
@import '@/assets/utils/_Mixins';

.header {
  margin-top: 50px;
}

.wrapper {
  @include flex-center;
  justify-content: space-between;
  min-height: 60px;
}

.title {
  font-size: $fs-29;
  font-weight: $fw-800;
}

.headerRight {
  display: flex;
}
