@import '@/assets/utils/_Variables';
@import '@/assets/utils/_Mixins';

.link {
  @include flex-center;
  height: 40px;
  font-weight: $fw-400;
  border: 0;
  border-radius: 5px;
}

.small {
  width: 129px;
}

.medium {
  width: 223px;
}

.orange {
  background-color: $color-orange-1;
  @include hover(background-color, $color-orange-2);
}

.white {
  background: $color-rare-white;
  @include hover(background-color, $color-grey);
}
