@import '@/assets/utils/_Variables';
@import '@/assets/utils/_Mixins';

.link {
  @include flex-center;
  border: none;
  border-radius: 5px;
}

.small {
  width: 129px;
}

.medium {
  width: 223px;
}

.orange {
  background-color: $color-orange;
}

.white {
  background: $color-rare-white;
}
