@import '@/assets/utils/_Mixins';
@import '@/assets/utils/_Variables';

.searchInputWrapper {
  position: absolute;
  top: 8px;
  right: 30px;
  transition: 0.3s;
  z-index: -1;

  input {
    font-family: $ff-poppins;
    border-radius: 9px;
    color: $color-white;
    font-size: $fs-13;
    font-weight: $fw-500;
    border: 1px solid $color-coal-light;
    background: $color-black-2;
    padding: 8px 17px;
    transition: $transition-time ease-in-out;
    opacity: 0;
    width: 440px;
    height: 0;

    &::placeholder {
      color: $color-rare-grey;
    }
  }
}

.inputSearchIcon {
  position: absolute;
  right: 12px;
  top: 5px;
  opacity: 0;
  transition: $transition-time ease-in-out;

  svg {
    path {
      fill: $color-rare-grey;
    }
  }
}

.searchInputWrapper.active {
  z-index: 1;
  input {
    opacity: 1;

    height: 30px;
  }

  .inputSearchIcon {
    opacity: 1;
  }
}

.searched-games {
  border-radius: 0px 0px 10px 10px;
  background: $color-black-2;
  padding: 0 30px;
  max-height: 300px;
  overflow-y: scroll;
  min-width: 440px;
}

.searched-game {
  display: flex;
  margin-top: 20px;
  position: relative;
  padding-bottom: 19px;

  &::after {
    @include pseudo-element(
      $color-rare-white,
      0,
      auto,
      auto,
      0,
      0,
      0,
      1px,
      100%
    );
  }
}

.searched-game-image {
  margin-right: 35px;
  img {
    width: 70px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.searched-game-title {
  font-size: $fs-15;
  font-weight: $fw-800;
}

.searched-game-rating {
  font-size: $fs-10;
  font-weight: $fw-700;
  color: $color-orange;
  margin-top: 13px;
  span {
    color: $color-white;
    margin-right: 4px;
    font-weight: $fw-400;
  }
}

.searched-game-platforms {
  display: flex;
  margin-top: 13px;

  svg {
    margin-right: 12px;
  }
}
