@import '@/assets/utils/_Variables';
@import '@/assets/utils/_Mixins.scss';

body {
  background-color: $color-black-1;
  font-family: $ff-poppins;
  font-size: $fs-16;
  color: $color-white;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  font-size: $fs-40;
  font-weight: $fw-800;
}

.login-title {
  margin-top: 122px;
  text-align: center;
}

main {
  flex: 1;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: $color-black-2;
}

::-webkit-scrollbar-thumb {
  background: $color-rare-grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.spinner-wrapper {
  width: 100vw;
  height: 100vh;
  @include flex-center;
}
