@import '@/assets/utils/_Variables';
@import '@/assets/utils/_Mixins';

.navItem {
  @include flex-center;
  margin-right: 42px;
}

.navLink {
  @include flex-center;
  height: 50px;
}

.svgIcon {
  @include flex-center;
  margin-left: 6px;
}

.active {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 4px;
    margin-left: -5px;
    border-radius: 10px;
    background-color: $color-orange;
  }

  &::before {
    left: 0;
    width: 36px;
  }

  &::after {
    left: 40px;
    width: 7px;
  }
}
