@import '@/assets/utils/_Variables';
@import '@/assets/utils/_Mixins';

.navItem {
  @include flex-center;
  margin-right: 42px;

  &:last-child {
    margin-right: 0;
  }
}

.navLink {
  @include flex-center;
}

.svgIcon {
  @include flex-center;
  margin-left: 6px;
}

.btnLink {
  background-color: $color-orange;
  font-weight: $fw-600;
  border: none;
  border-radius: 5px;

  a {
    padding: 0 45px;
  }
}
